
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background-color: #000;
}

.container {
    max-width: 930px;
    margin: auto;

}

.nav-logo {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;

}

.logo-th {
    width: 150px;

}

ul, li, a {
    text-decoration: none;
    color: #fff;
    display: flex;
    column-gap: 30px;
    text-transform: uppercase;
}

a:hover {
    color: #FF8C00;
    transition: 1s all;
}

.section-1 {
    display: flex;
    column-gap: 30px;
    justify-content: center;
    align-items: center;
}

.images {
    width: 500px;
}

.titles {
    font-weight: 900;
    font-size: 45px;
    text-transform: uppercase;
    color: #FF8C00;
}

.text-1 {
    margin-top: 40px;
}

.section-2 {
    margin-top: 50px;
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.hours {
    color: #FF8C00;
}

.suport {
    margin-top: 20px;
}

.section-3 {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 50px;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    column-gap: 100px;
}

.icon p {
    display: flex;
    align-items: center;
    text-transform: lowercase;
    margin-left: -20px;
}

.icon img{
    width: 50px;
}



@media (max-width: 420px) {

    .nav-logo{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    ul, li, a {
        margin-top: -12px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .section-1, .section-2 {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 15px;
    }

    .images {
        width: 363px;
        border-radius: 30px;
        padding: 15px;
    }

    .text-1 {
        margin-top: 20px;
    }

    .menu-4 {
        margin-top: 30px;
    }

    .menu-5 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .icons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 30px;
    }
}